In [1]:
import pandas as pd
import seaborn as sns
import requests

In [2]:
df1 = pd.read_csv(r'global_landslides.csv')
df1.head()

,source_name,source_link,event_id,event_date,event_time,event_title,event_description,location_description,location_accuracy,landslide_category,...,country_code,admin_division_name,admin_division_population,gazeteer_closest_point,gazeteer_distance,submitted_date,created_date,last_edited_date,longitude,latitude
0,ABC.net.au,http://www.abc.net.au/news/2009-01-27/fresh-wa...,976,01/26/2009 12:00:00 AM,NaN,South of Naples,A young woman was swept to her death Sunday by...,South of Naples,5km,mudslide,...,IT,Campania,959470.0,Napoli,0.79183,04/01/2014 12:00:00 AM,11/20/2017 03:17:00 PM,02/15/2018 03:51:00 PM,14.252000,40.840300
1,NewsFlare,https://www.newsflare.com/video/83244/weather-...,9887,08/16/2016 05:45:00 PM,NaN,"Landslide in Cortina, Italy",Massive landslide that continues to move near ...,"Cortina, Veneto, Italy",5km,landslide,...,NaN,NaN,NaN,NaN,NaN,06/30/2017 05:45:00 PM,11/20/2017 03:17:00 PM,02/15/2018 03:51:00 PM,12.132183,46.539613
2,www.telegraph.co.uk,http://www.telegraph.co.uk/news/worldnews/euro...,5672,12/03/2013 12:00:00 PM,NaN,"Montescaglioso, Matera",Days of heaving rain and flooding caused the l...,"Montescaglioso, Matera",1km,landslide,...,IT,Basilicate,9205.0,Montescaglioso,1.44672,04/01/2014 12:00:00 AM,11/20/2017 03:17:00 PM,02/15/2018 03:51:00 PM,16.652500,40.545200
3,google,http://www.google.com/hostednews/canadianpress...,2410,09/10/2010 12:00:00 AM,NaN,"Atrani village, less then 1 mi from Amalfi","Sep 10, 2010 ROME — A river of mud unleashed ...","Atrani village, less then 1 mi from Amalfi",1km,mudslide,...,IT,Campania,887.0,Atrani,0.24389,04/01/2014 12:00:00 AM,11/20/2017 03:17:00 PM,02/15/2018 03:51:00 PM,14.607400,40.637800
4,genevalunch.com,http://genevalunch.com/blog/2011/09/04/st-bern...,3962,09/03/2011 07:15:00 PM,NaN,Bourg St Pierre Road to ( St. Bernard pass),Pass and tunnel between Switzerland and Italy ...,Bourg St Pierre Road to ( St. Bernard pass),1km,landslide,...,CH,Valais,2725.0,Orsières,9.63269,04/01/2014 12:00:00 AM,11/20/2017 03:17:00 PM,02/15/2018 03:51:00 PM,7.208300,45.954700

In [34]:
df2 = pd.read_csv(r'Landslides.csv')

In [10]:
df2.columns

Index(['id', 'date', 'time', 'country', 'nearest_places', 'hazard_type',
       'landslide_type', 'trigger', 'storm_name', 'fatalities', 'injuries',
       'source_name', 'source_link', 'location_description',
       'location_accuracy', 'landslide_size', 'photos_link', 'cat_src',
       'cat_id', 'countryname', 'near', 'distance', 'adminname1', 'adminname2',
       'population', 'countrycode', 'continentcode', 'key', 'version',
       'tstamp', 'changeset_id', 'latitude', 'longitude', 'geolocation'],
      dtype='object')

In [35]:
df2_mod = pd.read_csv(r'landslide_mod2.csv')

In [32]:
df2_mod.population = df2_mod.population.astype(int)
df2_mod.head()

,Date,country,landslide_type,trigger,landslide_size,population,latitude,longitude
0,05/30/2008,Italy,2,1,3,16800,44.6467,7.6639
1,05/30/2008,Italy,2,1,3,809,44.8098,7.1526
2,05/30/2008,Italy,2,1,3,2982,45.7513,7.3760
3,12/17/2008,Italy,2,1,3,169140,38.1102,15.6508
4,01/26/2009,Italy,2,1,3,959470,40.8403,14.2520

In [42]:
df2_mod['landslide_size'].value_counts()

3    45
2     5
4     4
1     1
Name: landslide_size, dtype: int64

In [33]:
df2_mod.to_csv('./final_landslide.csv')

In [14]:
df3 = pd.read_csv(r'era5_data_new.csv')
df3.head()

   total_precipitation  temperature_2m        date              station
0             0.000023      303.120056  09/07/2020  Abbadia_S_Salvatore
1             0.000003      303.894241  10/07/2020  Abbadia_S_Salvatore
2             0.002597      302.470184  11/07/2020  Abbadia_S_Salvatore
3             0.001784      300.284592  12/07/2020  Abbadia_S_Salvatore
4             0.000138      299.675354  13/07/2020  Abbadia_S_Salvatore

In [15]:
df3.sort_values(by = 'total_precipitation', ascending = False).reset_index()

,index,total_precipitation,temperature_2m,date,station
0,1899,0.880040,283.871979,05/12/2020,Fabbriche_di_Vallico
1,674,0.862583,284.100494,05/12/2020,Borgo_a_Mozzano
2,849,0.862583,284.100494,05/12/2020,Calavorno
3,2249,0.851723,281.469681,05/12/2020,Gallicano
4,7674,0.849923,281.055618,05/12/2020,Tereglio_Coreglia_Antelminelli
...,...,...,...,...,...
8395,7662,0.000000,282.506424,23/11/2020,Tereglio_Coreglia_Antelminelli
8396,6612,0.000000,284.518143,23/11/2020,Scorgiano
8397,3987,0.000000,288.988846,23/11/2020,Monteporzio
8398,4035,0.000000,303.131760,19/07/2020,Monteroni_Arbia_Biena
8399,3692,0.000000,300.989838,26/07/2020,Monte_Serra

In [16]:
df3.shape

(8400, 4)

In [17]:
df3['total_precipitation'].mean()

0.041808213712618864

In [18]:
n = 8400
lat = [None]*n
lon = [None]*n

df3['latitude'] = lat
df3['longitude'] = lon

In [19]:
df3.head()

,total_precipitation,temperature_2m,date,station,latitude,longitude
0,0.000023,303.120056,09/07/2020,Abbadia_S_Salvatore,None,None
1,0.000003,303.894241,10/07/2020,Abbadia_S_Salvatore,None,None
2,0.002597,302.470184,11/07/2020,Abbadia_S_Salvatore,None,None
3,0.001784,300.284592,12/07/2020,Abbadia_S_Salvatore,None,None
4,0.000138,299.675354,13/07/2020,Abbadia_S_Salvatore,None,None

In [20]:
for i in range(len(df3)):
    
    if(df3['station'][i] == 'Abbadia_S_Salvatore'):
        df3['latitude'][i] = 42.8767
        df3['longitude'][i] = 11.6727
        
    if(df3['station'][i] == 'S_Agata'):
        df3['latitude'][i] = 41.0896
        df3['longitude'][i] = 14.4999
        
    if(df3['station'][i] == 'Ponte_Orgia'):
        df3['latitude'][i] = 43.2569
        df3['longitude'][i] = 11.2297
        
    if(df3['station'][i] == 'Gallicano'):
        df3['latitude'][i] = 44.0449
        df3['longitude'][i] = 10.4284
        
    if(df3['station'][i] == 'Vernio'):
        df3['latitude'][i] = 44.0475
        df3['longitude'][i] = 11.1531
        
    if(df3['station'][i] == 'Piaggione'):
        df3['latitude'][i] = 43.9367
        df3['longitude'][i] = 10.5061
        
    if(df3['station'][i] == 'Fabbriche_di_Vallico'):
        df3['latitude'][i] = 43.9975
        df3['longitude'][i] = 10.4284
        
    if(df3['station'][i] == 'Petrignano'):
        df3['latitude'][i] = 43.1037
        df3['longitude'][i] = 12.5363
        
    if(df3['station'][i] == 'Consuma'):
        df3['latitude'][i] = 43.7817
        df3['longitude'][i] = 11.5984
        
    if(df3['station'][i] == 'Orentano'):
        df3['latitude'][i] = 43.7790
        df3['longitude'][i] = 10.6620
        
    if(df3['station'][i] == 'Laterina'):
        df3['latitude'][i] = 43.5080
        df3['longitude'][i] = 10.5677
        
    if(df3['station'][i] == 'Tereglio_Coreglia_Antelminelli'):
        df3['latitude'][i] = 44.0590
        df3['longitude'][i] = 10.5677
        
    if(df3['station'][i] == 'Pontetetto'):
        df3['latitude'][i] = 43.8276
        df3['longitude'][i] = 10.4961
        
    if(df3['station'][i] == 'Vetta_Amiata'):
        df3['latitude'][i] = 42.8908
        df3['longitude'][i] = 11.6279
        
    if(df3['station'][i] == 'Monteporzio'):
        df3['latitude'][i] = 41.8182
        df3['longitude'][i] = 12.7153
        
    if(df3['station'][i] == 'S_Fiora'):
        df3['latitude'][i] = 42.8324
        df3['longitude'][i] = 11.5846
        
    if(df3['station'][i] == 'S_Piero'):
        df3['latitude'][i] = 43.9645
        df3['longitude'][i] = 11.3272
        
    if(df3['station'][i] == 'Laghetto_Verde'):
        df3['latitude'][i] = 43.1203
        df3['longitude'][i] = 12.3496
        
    if(df3['station'][i] == 'Monteroni_Arbia_Biena'):
        df3['latitude'][i] = 43.2297
        df3['longitude'][i] = 11.4223
        
    if(df3['station'][i] == 'Incisa'):
        df3['latitude'][i] = 43.6657
        df3['longitude'][i] = 11.4226
        
    if(df3['station'][i] == 'Cavallina'):
        df3['latitude'][i] = 43.9843
        df3['longitude'][i] = 11.2328
        
    if(df3['station'][i] == 'Lucca_Orto_Botanico'):
        df3['latitude'][i] = 43.8413
        df3['longitude'][i] = 10.5107
        
    if(df3['station'][i] == 'Stia'):
        df3['latitude'][i] = 43.8041
        df3['longitude'][i] = 11.7086
        
    if(df3['station'][i] == 'Bastia_Umbra'):
        df3['latitude'][i] = 43.0691
        df3['longitude'][i] = 12.5492
        
    if(df3['station'][i] == 'Settefrati'):
        df3['latitude'][i] = 41.6798
        df3['longitude'][i] = 13.8564
        
    if(df3['station'][i] == 'Borgo_a_Mozzano'):
        df3['latitude'][i] = 43.9784
        df3['longitude'][i] = 10.5430
        
    if(df3['station'][i] == 'Croce_Arcana'):
        df3['latitude'][i] = 44.1321
        df3['longitude'][i] = 10.7778
        
    if(df3['station'][i] == 'Camaldoli'):
        df3['latitude'][i] = 43.7945
        df3['longitude'][i] = 11.8204
        
    if(df3['station'][i] == 'Monte_Serra'):
        df3['latitude'][i] = 43.7507
        df3['longitude'][i] = 10.5249
        
    if(df3['station'][i] == 'Montevarchi'):
        df3['latitude'][i] = 43.5308
        df3['longitude'][i] = 11.5640
        
    if(df3['station'][i] == 'Le_Croci'):
        df3['latitude'][i] = 44.1460
        df3['longitude'][i] = 10.9505
        
    if(df3['station'][i] == 'Ponte_a_Moriano'):
        df3['latitude'][i] = 43.9103
        df3['longitude'][i] = 10.5287
        
    if(df3['station'][i] == 'Mangona'):
        df3['latitude'][i] = 44.0497
        df3['longitude'][i] = 11.1966
        
    if(df3['station'][i] == 'Sovicille'):
        df3['latitude'][i] = 43.2569
        df3['longitude'][i] = 11.2297
        
    if(df3['station'][i] == 'Mensano'):
        df3['latitude'][i] = 43.3014
        df3['longitude'][i] = 11.0545
        
    if(df3['station'][i] == 'Siena_Poggio_al_Vento'):
        df3['latitude'][i] = 43.3202
        df3['longitude'][i] = 11.3107
        
    if(df3['station'][i] == 'Simignano'):
        df3['latitude'][i] = 43.4676
        df3['longitude'][i] = 11.0435
        
    if(df3['station'][i] == 'Calavorno'):
        df3['latitude'][i] = 44.0199
        df3['longitude'][i] = 10.5321
        
    if(df3['station'][i] == 'Montalcinello'):
        df3['latitude'][i] = 43.1988
        df3['longitude'][i] = 11.0795
        
    if(df3['station'][i] == 'Terni'):
        df3['latitude'][i] = 42.5636
        df3['longitude'][i] = 12.6427
        
    if(df3['station'][i] == 'Monticiano_la_Pineta'):
        df3['latitude'][i] = 43.1395
        df3['longitude'][i] = 11.1777
        
    if(df3['station'][i] == 'Firenze'):
        df3['latitude'][i] = 43.7696
        df3['longitude'][i] = 11.2558
        
    if(df3['station'][i] == 'Pentolina'):
        df3['latitude'][i] = 43.1950
        df3['longitude'][i] = 11.1761
        
    if(df3['station'][i] == 'S_Savino'):
        df3['latitude'][i] = 43.3292
        df3['longitude'][i] = 11.7292
        
    if(df3['station'][i] == 'Velletri'):
        df3['latitude'][i] = 41.6868
        df3['longitude'][i] = 12.7785
        
    if(df3['station'][i] == 'Scorgiano'):
        df3['latitude'][i] = 43.3495
        df3['longitude'][i] = 11.1594
        
    if(df3['station'][i] == 'Bibbiena'):
        df3['latitude'][i] = 43.6941
        df3['longitude'][i] = 11.8159
        
    if(df3['station'][i] == 'Castel_del_Piano'):
        df3['latitude'][i] = 42.8886
        df3['longitude'][i] = 11.5358

<ipython-input-20-cf70cf8054dd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 42.8767
<ipython-input-20-cf70cf8054dd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.6727
<ipython-input-20-cf70cf8054dd>:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.0691
<ipython-input-20-cf70cf8054dd>:97: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 12.5492
<ipython-input-20-cf70cf8054dd>:188: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.6941
<ipython-input-20-cf70cf8054dd>:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.8159
<ipython-input-20-cf70cf8054dd>:104: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.9784
<ipython-input-20-cf70cf8054dd>:105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.5430
<ipython-input-20-cf70cf8054dd>:152: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 44.0199
<ipython-input-20-cf70cf8054dd>:153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.5321
<ipython-input-20-cf70cf8054dd>:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.7945
<ipython-input-20-cf70cf8054dd>:113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.8204
<ipython-input-20-cf70cf8054dd>:192: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 42.8886
<ipython-input-20-cf70cf8054dd>:193: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.5358
<ipython-input-20-cf70cf8054dd>:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.9843
<ipython-input-20-cf70cf8054dd>:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.2328
<ipython-input-20-cf70cf8054dd>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.7817
<ipython-input-20-cf70cf8054dd>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.5984
<ipython-input-20-cf70cf8054dd>:108: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 44.1321
<ipython-input-20-cf70cf8054dd>:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.7778
<ipython-input-20-cf70cf8054dd>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.9975
<ipython-input-20-cf70cf8054dd>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.4284
<ipython-input-20-cf70cf8054dd>:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.7696
<ipython-input-20-cf70cf8054dd>:169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.2558
<ipython-input-20-cf70cf8054dd>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 44.0449
<ipython-input-20-cf70cf8054dd>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.4284
<ipython-input-20-cf70cf8054dd>:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.6657
<ipython-input-20-cf70cf8054dd>:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.4226

<ipython-input-20-cf70cf8054dd>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.1203
<ipython-input-20-cf70cf8054dd>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 12.3496
<ipython-input-20-cf70cf8054dd>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.5080
<ipython-input-20-cf70cf8054dd>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.5677
<ipython-input-20-cf70cf8054dd>:124: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 44.1460
<ipython-input-20-cf70cf8054dd>:125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.9505
<ipython-input-20-cf70cf8054dd>:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.8413
<ipython-input-20-cf70cf8054dd>:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.5107
<ipython-input-20-cf70cf8054dd>:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 44.0497
<ipython-input-20-cf70cf8054dd>:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.1966
<ipython-input-20-cf70cf8054dd>:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.3014
<ipython-input-20-cf70cf8054dd>:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.0545
<ipython-input-20-cf70cf8054dd>:156: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.1988
<ipython-input-20-cf70cf8054dd>:157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.0795
<ipython-input-20-cf70cf8054dd>:116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.7507
<ipython-input-20-cf70cf8054dd>:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.5249
<ipython-input-20-cf70cf8054dd>:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 41.8182
<ipython-input-20-cf70cf8054dd>:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 12.7153
<ipython-input-20-cf70cf8054dd>:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.2297
<ipython-input-20-cf70cf8054dd>:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.4223
<ipython-input-20-cf70cf8054dd>:120: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.5308
<ipython-input-20-cf70cf8054dd>:121: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.5640
<ipython-input-20-cf70cf8054dd>:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.1395
<ipython-input-20-cf70cf8054dd>:165: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.1777
<ipython-input-20-cf70cf8054dd>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.7790
<ipython-input-20-cf70cf8054dd>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.6620
<ipython-input-20-cf70cf8054dd>:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.1950
<ipython-input-20-cf70cf8054dd>:173: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.1761

<ipython-input-20-cf70cf8054dd>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.1037
<ipython-input-20-cf70cf8054dd>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 12.5363
<ipython-input-20-cf70cf8054dd>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.9367
<ipython-input-20-cf70cf8054dd>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.5061
<ipython-input-20-cf70cf8054dd>:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.9103
<ipython-input-20-cf70cf8054dd>:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.5287
<ipython-input-20-cf70cf8054dd>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.2569
<ipython-input-20-cf70cf8054dd>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.2297
<ipython-input-20-cf70cf8054dd>:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.8276
<ipython-input-20-cf70cf8054dd>:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.4961
<ipython-input-20-cf70cf8054dd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 41.0896
<ipython-input-20-cf70cf8054dd>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 14.4999
<ipython-input-20-cf70cf8054dd>:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 42.8324
<ipython-input-20-cf70cf8054dd>:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.5846
<ipython-input-20-cf70cf8054dd>:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.9645
<ipython-input-20-cf70cf8054dd>:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.3272
<ipython-input-20-cf70cf8054dd>:176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.3292
<ipython-input-20-cf70cf8054dd>:177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.7292
<ipython-input-20-cf70cf8054dd>:184: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.3495
<ipython-input-20-cf70cf8054dd>:185: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.1594
<ipython-input-20-cf70cf8054dd>:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 41.6798
<ipython-input-20-cf70cf8054dd>:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 13.8564
<ipython-input-20-cf70cf8054dd>:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.3202
<ipython-input-20-cf70cf8054dd>:145: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.3107
<ipython-input-20-cf70cf8054dd>:148: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.4676
<ipython-input-20-cf70cf8054dd>:149: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.0435
<ipython-input-20-cf70cf8054dd>:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.2569
<ipython-input-20-cf70cf8054dd>:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.2297

<ipython-input-20-cf70cf8054dd>:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 43.8041
<ipython-input-20-cf70cf8054dd>:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.7086
<ipython-input-20-cf70cf8054dd>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 44.0590
<ipython-input-20-cf70cf8054dd>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 10.5677
<ipython-input-20-cf70cf8054dd>:160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 42.5636
<ipython-input-20-cf70cf8054dd>:161: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 12.6427
<ipython-input-20-cf70cf8054dd>:180: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 41.6868
<ipython-input-20-cf70cf8054dd>:181: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 12.7785
<ipython-input-20-cf70cf8054dd>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 44.0475
<ipython-input-20-cf70cf8054dd>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.1531
<ipython-input-20-cf70cf8054dd>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude'][i] = 42.8908
<ipython-input-20-cf70cf8054dd>:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['longitude'][i] = 11.6279

In [21]:
df3.head()

,total_precipitation,temperature_2m,date,station,latitude,longitude
0,0.000023,303.120056,09/07/2020,Abbadia_S_Salvatore,42.8767,11.6727
1,0.000003,303.894241,10/07/2020,Abbadia_S_Salvatore,42.8767,11.6727
2,0.002597,302.470184,11/07/2020,Abbadia_S_Salvatore,42.8767,11.6727
3,0.001784,300.284592,12/07/2020,Abbadia_S_Salvatore,42.8767,11.6727
4,0.000138,299.675354,13/07/2020,Abbadia_S_Salvatore,42.8767,11.6727

In [51]:
df3['total_precipitation'] = df3['total_precipitation'] * 1000
df3.head()

,total_precipitation,temperature_2m,date,station,latitude,longitude
0,0.022871,303.120056,09/07/2020,Abbadia_S_Salvatore,42.8767,11.6727
1,0.002566,303.894241,10/07/2020,Abbadia_S_Salvatore,42.8767,11.6727
2,2.597237,302.470184,11/07/2020,Abbadia_S_Salvatore,42.8767,11.6727
3,1.783773,300.284592,12/07/2020,Abbadia_S_Salvatore,42.8767,11.6727
4,0.138232,299.675354,13/07/2020,Abbadia_S_Salvatore,42.8767,11.6727

In [53]:
df3.to_csv('final_era5.csv')

In [38]:
df4 = pd.read_excel(r'AvgAnnualPrecipitation.xlsx')
df4.head()

   Days         Place Region  Inches  Millimeters  Latitude  Longitude
0    75       Bologna     NE    26.4          671   44.4949    11.3426
1    76       Bolzano     NE    28.0          712   46.4983    11.3548
2    75        Cervia     NE    25.9          658   44.2635    12.3477
3    87  Monte Cimone     NE    24.2          615   44.1938    10.7015
4    88     Paganella     NE    30.1          764   46.1333    11.0333

In [39]:
df4.shape

(44, 7)

In [50]:
df4['Millimeters'].mean()

750.3409090909091

In [52]:
df4['mm_day'] = df4['Millimeters'] / df4['Days']
df4.head()

,Days,Place,Region,Inches,Millimeters,Latitude,Longitude,mm_day
0,75,Bologna,NE,26.4,671,44.4949,11.3426,8.946667
1,76,Bolzano,NE,28.0,712,46.4983,11.3548,9.368421
2,75,Cervia,NE,25.9,658,44.2635,12.3477,8.773333
3,87,Monte Cimone,NE,24.2,615,44.1938,10.7015,7.068966
4,88,Paganella,NE,30.1,764,46.1333,11.0333,8.681818

In [54]:
df4.to_csv('avg_annual_precipitation.csv')